
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; 
}
header { flex: 0 0 auto; }
main{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
footer { flex: 0 0 auto; }

h1{
    color: red
}

h2{
    font-family: "Montserrat";
}
h3{
    font-family: "Montserrat";
}

p{
    font-family: "Montserrat";
    font-weight: 400;
}


/*--------------------Clases Catalogo Digital--------------------*/
.bloque_header{
    background-color: #AA87D9;
    width: 100%;
    height: 40px;
}

#logo_optica{
    height: 100%;
    width: auto;
    margin-left: 5px;
}
.bloque_botones_categorias{ /*ver video en 10:00:00 para mejorar esto*/
    padding: 15px 0px 0px 0px;
    background-color: #9757A8;
    width: 100%;
    display: flex;
    justify-content: center;
}
.boton_categoria{
    font-family: "Montserrat";
    font-weight: 500;
    color: white;  
    text-decoration: none;

    display: inline-block;
    padding: 5px;
    background: none;
    border: none;

}
.boton_categoria:not(:last-child) { /*esto hace q la linea no este en el ultimo*/
    border-right: 1px solid white;  /* Línea divisoria */         
    padding-right: 15px;  
    padding-left: 15px;        
}

.boton_categoria:hover{
    background-color: #9f7aa9;
}

.producto{ /*este es el div que contiene la imagen principal y su descripcion*/
    position: relative;
}

.imagen_producto{/*esta es la imagen principal*/
    position: relative;
    margin: auto;
    margin-top: 2%;
    width: 90%;
    aspect-ratio: 1/1;
    /*
    width: min(90%, 60vh);
    height: min(90vw, 60%);
    overflow: hidden;*/
}

.imagen_producto img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*recorta centrando la imagen*/
    object-position: center;

}

.bloque_flecha_descripcion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.descripcion{
    width: 70%;
}
#aclaracion_prod{
    color: #40A629;
}
.flecha_derecha {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid black; /* color de la flecha */
    margin-left: 5%;
}

.flecha_izquierda {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 20px solid black;
    margin-right: 5%;
}

.selector_producto{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 40px;
    flex-wrap: wrap;
    gap: 2%;
}


.imagen_selector{
    width: 15%;
    aspect-ratio: 1/1;
   /* margin-right: 2%;
    margin-left: 2%;*/
    margin-top: 20px;
}