{% extends 'layout.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/catalogo.css') }}">

{% endblock %}

{% block content %}
<div class="filtros">
  <ul class="nav nav-tabs" id="tabsCatalogo" role="tablist">
    {% for categoria in categorias %}
    <li class="nav-item" role="presentation">
      <button class="nav-link {%if loop.first%} active {%endif%}" id="tab{{categoria.category_id}}-tab" data-bs-toggle="tab" data-bs-target="#tab{{categoria.category_id}}" type="button" role="tab">Categoría {{categoria.category_id}}</button>
    </li>
    {% endfor %}
  </ul>

</div>

<div class="tab-content px-5" id="tabsCatalogoContent">
    {% for categoria in categorias %}
    <div class="tab-pane fade show {% if loop.first %} active {% endif %}" id="tab{{categoria.category_id}}" role="tabpanel">
        <div class="tab-content px-5" id="tabsCategoriaContent">
            {% for producto in categoria.productos %}
            <div class="tab-pane fade show {% if loop.first %} active {% endif %}" id="subtab{{producto.product_id}}" role="tabpanel">
                
                <div class="producto">
                    <div class="imagen_producto">
                        <img id="imagen_principal" src = "https://www.svgrepo.com/show/508699/landscape-placeholder.svg">
                    </div>
                    <div class = "bloque_flecha_descripcion">
                        
                        <div class="descripcion">
                            <h2 id="nombre_prod">{{producto.model}}</h2>
                            <h3 id="precio_prod">${{producto.price}}</h3>
                            <p id="aclaracion_prod">{{producto.sku}}</p>
                            <p id="descripcion_prod">{{producto.descripcion.name}}</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="slider-container">
            <button class="slider-arrow left" id="arrowLeft">&#10094;</button>

            <div class="tabsCategoria-wrapper">
                <ul class="nav nav-tabs tabsCategoria py-3" role="tablist">
                {% for producto in categoria.productos %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link  {% if loop.first %} active {% endif %}" id="subtab{{producto.product_id}}-tab" data-bs-toggle="tab" data-bs-target="#subtab{{producto.product_id}}" type="button" role="tab">
                    <img src="https://www.svgrepo.com/show/508699/landscape-placeholder.svg" class="card-img-top" style="height: 60px;" alt="Imagen {{producto.model}}">
                    </button>
                </li>
                {% endfor %}
                
                </ul>
            </div>

            <button class="slider-arrow right" id="arrowRight">&#10095;</button>
        </div>

    
    </div>
    {% endfor %}
</div>


<div class="position-fixed bottom-0 start-0 w-100 qrContainer d-flex align-items-center justify-content-between px-3 py-4">
    <p class="mb-0">Escaneá el QR para navegar por el catálogo y probarte los modelos</p>
    <img src="{{ url_for('main.qr') }}" alt="QR dinámico" style="height: 200px;">
</div>




<script>
  const wrapper = document.querySelector('.tabsCategoria-wrapper');
  const btnLeft = document.getElementById('arrowLeft');
  const btnRight = document.getElementById('arrowRight');

  btnLeft.addEventListener('click', () => {
    wrapper.scrollBy({ left: -200, behavior: 'smooth' });
  });

  btnRight.addEventListener('click', () => {
    wrapper.scrollBy({ left: 200, behavior: 'smooth' });
  });
</script>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
  const socket = io();

  socket.on("actualizar_catalogo", data => {
    console.log("Cambiar a:", data);
    // acá hacés click programático en el tab correspondiente
    document.getElementById("tab" + data.categoria + "-tab").click();
    document.getElementById("subtab" + data.producto + "-tab").click();
  });
</script>

{% endblock %}