{% extends 'layout.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/control.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block content %}
<div class="contenedor_general">
  <div class="contenedor_botones">
    <button class="botones_arriba_abajo" onclick="moverCatalogo('arriba')"><i class="fas fa-caret-up"></i></button>
    <div class="contenedor_botones_horizontales">
      <button class="botones_izq" onclick="moverCatalogo('izquierda')"><i class="fas fa-caret-left"></i></button>
      <button class="botones_der" onclick="moverCatalogo('derecha')"><i class="fas fa-caret-right"></i></button>
    </div>
    <button class="botones_arriba_abajo" onclick="moverCatalogo('abajo')"><i class="fas fa-caret-down"></i></button>
  </div>
  <button class="boton_probar">Probar</button>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
  const socket = io();
  let modo = 1; //si el modo es 1 cambio la categoria, si es 2 cambio los productos
  

  function moverCatalogo(direccion) {
    if(direccion == "arriba"){
      modo = 1;
      console.log("Modo cambiado a: Categoria");
    }else if (direccion == "abajo"){
      modo = 2;
      console.log("Modo cambiado a: Producto");
    }else{
      if (modo == 1){
        socket.emit("mover_categoria", {direccion: direccion});
      }else{
        socket.emit("mover_producto", { direccion });
      }
    }
  }

</script>
{% endblock %}