{% extends 'layout.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/control.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{% block content %}
<div class="contenedor_general">
  <div class="contenedor_botones">
    <button class="botones_arriba_abajo"><i class="fas fa-caret-up"></i></button>
    <div class="contenedor_botones_horizontales">
      <button class="botones_izq" onclick="moverCatalogo('izquierda')"><i class="fas fa-caret-left"></i></button>
      <button class="botones_der" onclick="moverCatalogo('derecha')"><i class="fas fa-caret-right"></i></button>
    </div>
    <button class="botones_arriba_abajo"><i class="fas fa-caret-down"></i></button>
  </div>
  <button class="boton_probar">Probar</button>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
  const socket = io();
  
  function moverCatalogo(direccion) {
    socket.emit("mover_catalogo", { direccion });
  }

  function cambiar(categoria, producto) {
    socket.emit("cambiar_producto", { categoria, producto });
  }
</script>
{% endblock %}